:root {
    --aniIn: 1.2s;
    --aniOut: .6s;
    --aniMid: 3s;
}


body {
    margin: 0px;
    
}


#logo{
    height: 250px;
}
#login {
    text-align: center;
    min-height: 100vh;
    height: auto;
    background-color: blueviolet;
    background-image: url(https://static-cdn.jtvnw.net/jtv_user_pictures/b6ee6b06-f8e4-48e4-a0ef-d89da0672a02-profile_banner-480.png);
    background-size: cover;
    background-position: center;
    display: flex;
}
#fail{
    text-align: center;
    min-height: 100vh;
    height: auto;
    background-size: cover;
    background-position: center;
    display: flex;
}

#cont-box{
    margin-top: 23px;
}

#conteiner {
    display: inline-block;
    width: 400px;
    text-align: center;
    align-self: center;
    margin: 0 auto;
    padding: 20px;
    
    padding-bottom: 150px;
}

#dx-avatar{
    height: 25px;
    border-radius: 35px;
    border-style: solid;
    border-color: #fff;
    margin-left: .5px;
}

#dx-nome{ 
    color: #fff;
    position: relative;
    top: 2px;
    font-size: 19px;
    font-family: Lato;
    font-weight: 500;
    margin-left: 2px;

}
#dx-cont{
    display: inline-flex;
    background-color: #0d5c67;
    padding: 4px;
    padding-right: 19px;
    border-radius: 38px;
    transition: all .1s ease-in-out ;
}
#dx-cont:link{
    text-decoration: none;
}
#dx-cont:hover{
    background-color: #07404d;
    transform: scale(1.05);
    box-shadow: 0px 4px 10px #0000002b;
}

#dx-created{
    display: block;
    color: #fff;
    font-size: 18px;
    font-family: Lato;
    font-weight: 700;
    margin-bottom: 6px;
}

#componets {
    background-color: #09131CCC;
    border-radius: 37px;
    margin-top: 7px;
    padding: 35px;
    padding-top: 13px;
    backdrop-filter: blur(10px);
}


.login-box{
    display: inline-table;
    padding: 4px 40px 4px 40px;
    border-radius: 10px;
    transition: all .1s ease-in-out ;
    background-color: #9147ff;
    margin-bottom: 10px;
}   
.login-box:hover{
    background-color: #4f24b8;
    transform: scale(1.05);
    box-shadow: 0px 4px 10px #0000002b;
    
}
.login-box:link{
    text-decoration: none;
}




#paypal-box{
    display: inline-table;
    width: 182px;
    padding: 4px;
    border-radius: 10px;
    transition: all .1s ease-in-out ;
    background-color: #186198;
    margin-bottom: 10px;
}   
#paypal-box:hover{
    background-color: #134481;
    transform: scale(1.05);
    box-shadow: 0px 4px 10px #0000002b;
    
}
#paypal-box:link{
    text-decoration: none;
}

#paypal-logo{
    height: 27px;
}






#twitch-text{
    color: #fff;
    margin-left: 7px;
    margin-right: 11px;
    font-size: 24px;
    font-family: Lato;
    font-weight: 300;
}


.text{
    color: #fff;
    font-size: 35px;
    font-family: Lato;
    font-weight: 300;
    display: block;
}

.description{
    display: block;
    color: #fff;
    font-size: 16px;
    font-family: Lato;
    font-weight: 300;
    white-space: pre-line;
    line-height: 19px;
}
.link{
    color: #ba7dff;
}

#paypal-description{
    display: block;
    color: #fff;
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 8px;
    font-family: Lato;
    font-weight: 300;
    white-space: pre-line;
}

#title{
    color: #fff;
    font-size: 40px;
    font-family: Lato;
    font-weight: 400;
}




#twitch-logo{
    float: left;
    position: relative;
    top: 2px;
    height: 27px;
}



#animation {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: Lato;
    font-weight: bold;
}

#img {
  position:relative;
    width: 100px;
    height: auto;
}

#box {
    z-index: -1;
    /* -40 */
    color: white;
    border-radius: 15px;
    padding: 20px;
    padding-top:5px;
    margin: 0px;
    background-color: #09131C;
    transform-origin: top;
}

#nome {
    margin: 0px;
    font-size: 40px;
    line-height: 28px;
    white-space: nowrap;
}

#acao {
    margin-block-end: 0px;
    margin-block-start: 0px;
    margin-inline-end: 0px;
    margin-inline-start: 0px;
    font-size: 25px;
    line-height: 20px;
    margin-top: 8px;
    white-space: nowrap;
}


.anchorAniIn {
    animation: posIn var(--aniIn) ease-in-out forwards;
}

.boxAniIn {
    animation: boxIn var(--aniIn) ease-in-out forwards;
}
.anchorAniOut {
    animation: posOut var(--aniOut) ease-in-out forwards;
}

.boxAniOut {
    animation: boxOut var(--aniOut) ease-in-out forwards;
}

@keyframes posIn {
    0% {
        transform: translate(0px, 300px);
    }
    25% {
        transform: translate(0px, -100px);
    }
    48% {
        transform: translate(0px, 20px);
    }
    77% {
        transform: translate(0px, -5px);
    }
    100% {
        transform: translate(0px, 0px);
    }
}

@keyframes boxIn {
    0% {
        transform: scale(0);
    }
    20% {
        transform: scale(1);
    }
}

@keyframes posOut {
    84% {
        transform: translate(0px, 0px);
    }
    37% {
        transform: translate(0px, 20px);
    }
    75% {
        transform: translate(0px, -60px);
    }
    100% {
        transform: translate(0px, 300px);
    }
}

@keyframes boxOut {
    56% {
        transform: scaleX(1) scaleY(1);
    }
    100% {
        transform: scaleX(0) scaleY(.6);
    }
}